* {
    margin: 0;
    background-color: lightblue;
    /* display: flex; */
}

.container {
    display: flex;
    height: 50vh;
}

.left {
    background-color: lightcoral;
    flex: 6;
}

.right {
    background-color: lightgoldenrodyellow;
    flex: 6;
}